:root {
    --p-color: #1e6262;
    --p-color-alt: #000000;
    --s-color: #2d767f;
    --s-color-alt: #000000;
    --t-color: #000000;
    --t-color-alt: #b4f1f1;
    --f-color: #000000;
    --f-color-alt: #ecfffb;
    --bg-color: #b4f1f1;
}